@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --light-color: #ffff;
  --light-color-alt: #aeb2b8;
  --primary-background-color: #0b0b0b;
  --secondary-background-color: #494863;
  --hover-light-color: var(var--light-color);
  --transpatrent-dark-color: rgba(0, 0, 0, .75);
  --transparent-light-color: rgba(255, 255, 255, .05);
  --plan-card: linear-gradient(210.41deg, #0b0b0b 1.14%, #6456db 100.75%);
  --font-family: 'Roboto', 'sans-serif';
  --font-size-xsm: .8rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2.5rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.app {
  font-family: var(--font-family);
  color: var(--light-color-alt);
  background-color: var(--primary-background-color);
  font-size: var(--font-size-sm);
  transition: background-color .25s, color .25s;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 200rem;
  margin: 0 auto;
  padding: 0 5.5rem;
}